.beginning-content {
    flex-wrap: wrap;
    align-items: center;
}

#navbar-score {
    font-family: 'Special Elite', cursive;
    color: white;
    margin-left: 20px;
}

.container {
    margin-top: 250px;
}

#quiz-start {
    font-family: 'Oswald', sans-serif;
}

#quizOption{
    font-family: 'Oswald', sans-serif;
}

h4 {
    color: white;
}